<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.alfredapp.bibmanager</string>
	<key>connections</key>
	<dict>
		<key>5E1EA813-D5EA-4843-A545-70A8D491E13C</key>
		<array/>
		<key>DA04ECA4-D257-46C8-AEC2-3C4D9EF8A9C9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5E1EA813-D5EA-4843-A545-70A8D491E13C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E5B59B91-F08E-4C9A-8600-6D63F6C04587</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F29EED1F-5B82-4745-B594-D1CEC73DEB24</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>298330A5-82CB-4AFB-BF37-75F4D4C96458</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Aaron Schneider</string>
	<key>description</key>
	<string>bibmanager</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>bibm</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>$PYTHON_ENV bibm_open.py $1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>/Users/schneider/Desktop/bibm_alfred/bibm_open</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>5E1EA813-D5EA-4843-A545-70A8D491E13C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>100</integer>
				<key>keyword</key>
				<string>bibm</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>$PYTHON_ENV bibm_list.py</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>/Users/schneider/Desktop/bibm_alfred/bibm_filter</string>
				<key>subtext</key>
				<string>bibmanager</string>
				<key>title</key>
				<string>bibm</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>DA04ECA4-D257-46C8-AEC2-3C4D9EF8A9C9</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Env set to "{query}"</string>
				<key>title</key>
				<string>bibm env saved!</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>F29EED1F-5B82-4745-B594-D1CEC73DEB24</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>bibmenv</string>
				<key>subtext</key>
				<string>For example: /Users/schneider/anaconda3/bin/python</string>
				<key>text</key>
				<string>Set the path to the python environment of your bibmanager installation</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E5B59B91-F08E-4C9A-8600-6D63F6C04587</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>on run argv
    set bundleID to (system attribute "alfred_workflow_bundleid")
    set token to (item 1 of argv)

    tell application id "com.runningwithcrayons.Alfred"
        set configuration "PYTHON_ENV" to value token in workflow bundleID with exportable
    end tell
end run</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>298330A5-82CB-4AFB-BF37-75F4D4C96458</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># Browse your bibmanager database using alfred!

Benefit from [bibmanager](https://bibmanager.readthedocs.io/en/latest/) and [alfred](https://bibmanager.readthedocs.io/en/latest/) to quickly access all your papers!

## Installation

1. Download the latest release from the release page:
[here](/aarondavidschneider/alfred-bibmanager/releases/latest/downloadalfred-bibmanager-workflow.alfredworkflow)
2. Find the path of your python installation*
3. Set PYTHON_ENV to the path of the installation

*python binary of environment containing bibmanager (e.g., `/Users/schneider/anaconda3/bin/python`). Run `which python` to find the correct path.

## Usage
- `bibm` will list your library
- select any paper and hit enter to open it

*Note: The paper will be downloaded automatically if not existent.*

## Troubleshooting
Set the `PYTHON_ENV` variable using `bibmenv`

## Credits
[@pcubillos](https://github.com/pcubillos/bibmanager) for providing [bibmanager](https://bibmanager.readthedocs.io/en/latest/)!</string>
	<key>uidata</key>
	<dict>
		<key>298330A5-82CB-4AFB-BF37-75F4D4C96458</key>
		<dict>
			<key>xpos</key>
			<integer>430</integer>
			<key>ypos</key>
			<integer>330</integer>
		</dict>
		<key>5E1EA813-D5EA-4843-A545-70A8D491E13C</key>
		<dict>
			<key>xpos</key>
			<integer>315</integer>
			<key>ypos</key>
			<integer>45</integer>
		</dict>
		<key>DA04ECA4-D257-46C8-AEC2-3C4D9EF8A9C9</key>
		<dict>
			<key>xpos</key>
			<integer>45</integer>
			<key>ypos</key>
			<integer>65</integer>
		</dict>
		<key>E5B59B91-F08E-4C9A-8600-6D63F6C04587</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>250</integer>
		</dict>
		<key>F29EED1F-5B82-4745-B594-D1CEC73DEB24</key>
		<dict>
			<key>xpos</key>
			<integer>435</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>PYTHON_ENV</key>
		<string>/Users/schneider/anaconda3/bin/python</string>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>0.1</string>
	<key>webaddress</key>
	<string>https://github.com/AaronDavidSchneider/alfred-bibmanager</string>
</dict>
</plist>
